{% extends 'base.html' %}

{% block content %}
<div class="row text-center mt-4">
    <div class="col-md-12">
        <div class="container" style="    max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <h1 style="color: #333;">About Us</h1>
            <h1>Welcome to Cuisine Globe!</h1>
            <p style="color: #666;">At Cuisine Globe, we're passionate about celebrating the rich tapestry of global flavors. Our platform isn't just about food—it's a journey that connects food enthusiasts, home cooks, and culinary adventurers. Here's what we're all about:</p>
            <ul>
                <li><strong>Discover Culinary Diversity:</strong> Cuisine Globe is your passport to explore cuisines from every corner of the world. Whether you're a seasoned foodie or a curious beginner, our community shares recipes, cooking tips, and stories that transport you to distant lands.</li>
                <li><strong>What Sets Us Apart:</strong>
                    <ul>
                        <li>Community-Driven: Cuisine Globe thrives on collaboration. Join discussions, share your favorite recipes, and learn from fellow food lovers.</li>
                        <li>Virtual Food Tours: Embark on virtual culinary adventures. From street food in Bangkok to haute cuisine in Paris, we've got it all.</li>
                        <li>Cooking Challenges: Test your skills with our themed cooking challenges. Who knows? You might discover a hidden talent!</li>
                        <li>Global Ingredients: Learn about exotic ingredients, their origins, and how to incorporate them into your kitchen.</li>
                    </ul>
                </li>
            </ul>
            <p style="color: #666;">Our mission is simple: to foster a global food community that celebrates diversity, creativity, and the joy of sharing meals. Whether you're a home cook experimenting with new spices or a traveler reminiscing about a memorable dish, Cuisine Globe is your trusted companion.</p>
            <p style="color: #666;">Ready to explore? Dive into our vibrant community, share your culinary experiences, and let's make the world a tastier place together!</p>
        </div>
    </div>
</div>

{% endblock %}